# Exercises

### Exercise #1 <br>

<p>Filter out all of the empty strings from the list below</p>

In [4]:
places = [' ', 'Argentina', '  ', 'San Diego', '', '   ', '', 'Boston', 'New York']
# = [Argentina, San Diego, Boston, New York]

# HINT: LOOK FOR A STRING METHOD THAT REMOVES WHITESPACE
 
# These are all one-liner Lambda functions 

places = list(filter(lambda city: city.strip(), places))
places

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

In [5]:
# .sort(key=)

authors = ["Connor Milliken", "Victor aNisimov", "Andrew P. Garfield", "David HassELHOFF", "Oprah wInfrey"]

# HINT: YOU'LL NEED TO CONVERT EACH PERSON'S NAME (A STRING) INTO A LIST IN ORDER TO GRAB THE LAST NAME BY
# THE INDEX

# sorted(iterable, key=key, reverse=reverse)

# take the name string, split it into 2 items, lower case it, and sort(ed) the [1] index of last name. 

a = sorted(authors, key=lambda name: name.split(" ")[1].lower())
print(a)

['Victor aNisimov', 'David HassELHOFF', 'Connor Milliken', 'Andrew P. Garfield', 'Oprah wInfrey']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Fahrenheit, using the map function with a lambda...</p>

In [6]:
places = [('Nassau', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]

# HINT: KEEP IN MIND PEMDAS. USE THE CELCIUS - FAHRENHEIT CONVERSION
# F = C * 9/5 + 32

# map(function to be used, list to be used). Returns a map object, not a list. 

# c = [c[1] for c in places]
# list(c) gives list of C degrees

list(map(lambda x:x*(9/5)+32, [x[1] for x in places]))

[89.6, 53.6, 111.2, 84.2]

### Exercise #4 <br>
<p>Write a recursive function to perform the fibonacci sequence up to the number passed in.</p>

In [ ]:
# 0:0
# 1:1
# 2:1
# 3:2
# 4:3
# 5:5
# 6:8
# 7:13

In [7]:
def fib_seq(n):
    # base case
    if n <= 1:
        return n
    else:
        return fib_seq(n-1) + fib_seq(n-2)
    
fib_seq(7)

13